<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="agregarNotas()" #notaForm="ngForm"> 
    <ion-item>
      <ion-label position="floating">Fecha de Entrega</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="nota.fechaEntrega" name="fechaEntrega" required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="nota.descripcion" name="descripcion" required></ion-input>
    </ion-item>

    <h3>Corte 1 (20%)</h3>
<ion-item>
  <ion-label position="floating">Nota Corte 1</ion-label>
  <ion-input type="number" min="0" max="50" step="1" [(ngModel)]="nota.corte1" name="corte1" required></ion-input>
</ion-item>

<h3>Corte 2 (20%)</h3>
<ion-item>
  <ion-label position="floating">Nota Corte 2</ion-label>
  <ion-input type="number" min="0" max="50" step="1" [(ngModel)]="nota.corte2" name="corte2" required></ion-input>
</ion-item>

<h3>Corte 3 (20%)</h3>
<ion-item>
  <ion-label position="floating">Nota Corte 3</ion-label>
  <ion-input type="number" min="0" max="50" step="1" [(ngModel)]="nota.corte3" name="corte3" required></ion-input>
</ion-item>

<h3>Corte Final (40%)</h3>
<ion-item>
  <ion-label position="floating">Nota Corte Final</ion-label>
  <ion-input type="number" min="0" max="50" step="1" [(ngModel)]="nota.corteFinal" name="corteFinal" required></ion-input>
</ion-item>


    <ion-item>
      <ion-label position="floating">Observaciones</ion-label>
      <ion-textarea [(ngModel)]="nota.observaciones" name="observaciones"></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit">Agregar Notas</ion-button>
    <ion-button expand="block" (click)="volver()">Volver</ion-button>
  
    <ion-item *ngIf="promedio !== null">
      <ion-label>Promedio: {{ promedio }}</ion-label>
    </ion-item>
  </form>
</ion-content>
